<mat-toolbar color="primary" class="toolbar-blue">
  <span>Bank Web</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/dashboard">Dashboard</a>
  <a mat-button routerLink="/accounts">Account Service</a>
  <a mat-button routerLink="/transactions">Transaction Service</a>
  <a mat-button routerLink="/users/new">User Sevice</a>
  <span class="spacer"></span>
  <button *ngIf="auth.isAuthed" mat-stroked-button (click)="logout()">Logout</button>
  <a *ngIf="!auth.isAuthed" mat-button routerLink="/login">Login</a>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
